*.ll
*.s
*.o
*.objdump

*.before.dot
*.after.dot
*.fst
*.fst.hier
*.sim
*.vcdcat
*.vulnerable.pdf
*.nemdef.pdf
*.experiment*.txt
*.experiment*.svg
*.experiment*.pdf

sancus_sim.fst
sancus_sim.fst.hier
sim-input.bin
sim-output.bin
sim.out
