*.ll
*sllvm*.s
*legacy*.s
enclave1.s
enclave2.s
main.s
provides.ld
*.o
*.objdump
a.out
test
test2
hello
arith
sensor
foo
sancus_sim.fst
sancus_sim.fst.hier
sim-input.bin
sim-output.bin
sim.out
sensor.hash
hello.wrap
x
